body{
    text-align: center;
    color: #40514e;
    line-height: 2;
    margin: 0;
    padding: 0;
   background-color:#FAEEE0 ;
}
h1{
    color: #003638;
    font-size: 4rem;
    margin: 20px 20px;
    font-family: hobeaux-rococeaux, sans-serif;
}
h2{
    color: #003638;
    
    margin-top: 10px;
}
h3{
    color:#77D970 ;
}
hr{
    width: 50%;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    color:#113CFC ;
    margin-top: 50px;
    margin-bottom: 50px;
}
a{
    padding: 15px 10px;
    text-decoration: none;
    color:#1E3163 ;
}
a:hover {
    color: #FDFCE5;
}

.copyright{
    padding-top: 20px;
    font-size: 0.80rem;
}
.hhh-2{
    margin: 30px auto 30px auto;
}
.food-1{
    padding: 50px auto, 50px, auto;
}
.last-p{
    margin: 30px auto 50px auto;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #38A3A5);
    background-image: -moz-linear-gradient(top, #3498db, #38A3A5);
    background-image: -ms-linear-gradient(top, #3498db, #38A3A5);
    background-image: -o-linear-gradient(top, #3498db, #38A3A5);
    background-image: linear-gradient(to bottom, #3498db, #38A3A5);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #38A3A5;
    background-image: -webkit-linear-gradient(top, #38A3A5, #7EB5A6);
    background-image: -moz-linear-gradient(top, #38A3A5, #7EB5A6);
    background-image: -ms-linear-gradient(top, #38A3A5, #7EB5A6);
    background-image: -o-linear-gradient(top, #38A3A5, #7EB5A6);
    background-image: linear-gradient(to bottom, #38A3A5, #7EB5A6);
    text-decoration: none;
  }









.top-class{
    background-color: #3DB2FF; 
    /* height: 500px;
    width: 20px; */
    
}
.bottom-class{
    background-color:#3DB2FF ;
    padding: 50px 0 20px;
}








.first-pic{
    height: 150px;
    width: 200px;
    position: relative;
    right: 330px;
    top: 70px;
    padding-top: 20px;
}
.second-pic{
    height: 300px;
    width: 350px;
}
.profile-pic{
    height: 200px;
    width: 200px;
    padding-top: 40px;
}
.skill-row{
    width: 50%;
    text-align: left;
    margin: 100px auto 100px auto;
    
}
.skill-1{
    
    width: 25%;
    float: left;
    margin-right: 25px;
}
.skill-2{
    
    width: 25%;
    float: right;
    margin-right: 25px;
}
.skill-3{
    
    width: 25%;
    float: left; 
    margin-right: 25px;
}

